<% if logged_in? %>
  <div class="row">
    
    <div class="col-sm-8 post-form">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="top-main">
    <div class="text-center">
      <h1>美味しいコーヒ豆を紹介しよう</h1>
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %> 
    </div>
  </div>
  
<% end %>