/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  font-family: "MS UI Gothic";
}

header.masthead {
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
  background-image: url("beans.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  width:100%;
  height:500px;
  background-position:top;
  background-color:rgba(255,255,255,0.2);
  background-blend-mode:lighten;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    // margin-bottom: 4rem;
  }
}

 .user-icon {
   object-fit: cover;
   border-radius: 50%;
   object-position:0px 0px;
   border: 1px solid #C0C0C0
}

 .post-time {
   font-size: 80%;
   display: flex;
   color: #808080;

   
 }

.media {
     font-size: 70%;
     color: #800000
}

.post-icon{
     border-radius: 30px;
     
}

.btn-primary {
  color: #fff;
  background-color: #4682B4;
  border-color:#4682B4;
}
.btn-primary:hover {
  color: #fff;
  background-color: #6f7375;
  border-color:#6f7375;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #6f7375;
  border-color: #6f7375;
  box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color:#6f7375;
  border-color: #6f7375;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #6f7375;
  border-color:#6f7375;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}
