/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 // トップ画像
 .top-main {
  padding: 100px 200px;
  text-align: center;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #3ecdc6;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  font-family: "arial black";
  border-radius: 50px;
  /* 背景画像のCSS */
  background-image: url("coffee1.jpg");
}

// ユーザー画像
 .user-image {

}

 
 .user-icon {
   object-fit: cover;
   border-radius: 50%;
   object-position:0px 0px;
   border: 1px solid #C0C0C0
}
